{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ category }}{% endblock %}

{% block body %}
  <h1>{{ programs.0.category.name }}</h1>
<div class="card-group mb-5">
  {% for program in programs %}
    <div class="card m-5 " style="width: 18rem;">
      <img class="card-img-top" src="{{program.poster}}" alt="{{ program.title }}">
      <div class="card-body ">
        <h5 class="card-title">{{ program.title }}</h5>
        <p class="card-text">{{ program.summary }}</p>
        <p class="card-text">Catégorie : {{ program.category.name }}</p>
        <a href="/programs/show/{{ program.id }}" class="btn btn-primary ">Go somewhere</a>
      </div>
    </div>
  {% endfor %}
</div>
  <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
  </a>

{% endblock %}