{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}L'épisode{% endblock %}

{% block body %}
    <h1>{{ episode.title }} de {{ program.title }} de la saison {{ season.number }}</h1>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ program.poster }}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">{{ program.title }}</h3>
            
            <h4 class="card-title">Saison {{ season.number }}</h4>
            <h5>Episode : {{ episode.number }} - {{ episode.title }} </h5>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>
    <h3>Commentaire :</h3>
    
    {% for comment in episode.comments %}
        <p>rate : {{ comment.rate }}</p>
        <p>Commentaire : {{ comment.comment }}</p>
    {%  endfor %}
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-secondary" type='submit' value='Add comment'>
        {{ form_end(form) }}

    {% endif %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}