{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

  <div class="media">
      <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
      <div class="media-body text-info">
          <h1 class="mt-0">{{ program.title }}</h1>
          <p>{{ program.summary }}</p>
          <p>Catégorie : {{ program.category.name }}</p>
          <a href="/programs/{{ program.id }}/season/{{ season.Id }}">
              <p>{{ season.number }}. {{ season.description }} ({{ season.year }})</p>
          </a>
          <h4>la liste des episondes de la saison {{ season.number }}</h4>      
          {% for episode in episodes %}
              <a href="/programs/{{ program.id }}/season/{{ season.Id }}/episode/{{ episode.Id }}">
                  <p>{{ episode.number }}. titre : {{ episode.title }} Descrption : {{ episode.synopsis }}</p>
              </a>
          {% endfor %}
      </div>
  </div>

  <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
  </a>
{% endblock %}